.illustration {
    &__wrapper {
        display: flex;
        justify-content: space-between;
    }
    &__info {
        max-width: 500px;
    }
}

#design {
    padding: 100px 0px;
}

#teamwork {
    padding: 94px 94px;
}