.partners {
    padding: 82px 0px 47px 0px;
    &__wrapper {
        display: flex;
        justify-content: space-between;
        column-gap: 90px;
        row-gap: 30px;
        flex-wrap: wrap;
    }
    &__img {
        max-height: 50px;
    }
}