.services {
    padding: 90px 0px 94px 0px;
    &__cards {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-wrap: wrap;
        column-gap: 30px;
        margin-top: 58px;
        &-item {
            margin-top: 50px;
            width: 270px;
            height: 307px;
            background: #FFF1F9;
            box-sizing: border-box;
            border-radius: 8px;
            &:hover {
                transition: all 0.3s;
                height: 345px;
                filter: drop-shadow(0 0 0.5rem rgb(224, 75, 105));
                .services__cards-more {
                    visibility: visible;
                }
            }
        }
        &-img {
            max-width: 44px;
            padding: 54px 0px 40px 0px;
            margin: 0 auto;
        }
        &-more {
            visibility: hidden;
            display: flex;
            align-items: center;
            justify-content: center;
            column-gap: 8px;
            padding-top: 30px;
            padding-bottom: 20px;
            a:first-child {
                font-size: 20px;
                color: $main-color;
            }
        }
    }
}