.title {
    font-size: 52px;
    font-weight: 700;
    color: #56597A;
}

.subtitle {
    font-size: 28px;
    line-height: 40px;
    color: $main-color;
}

.description {
    font-family: 'ProximaNova';
    font-size: 20px;
    line-height: 32px;
    color: #919299;
}