@media (max-width: 992px) {
    .blog {
        padding: 50px 0 50px 0;
        &__wrapper {
            column-gap: 5px;
        }
        &__form-wrapper {
            max-width: 680px;
        }
    }
}

@media (max-width: 768px) {
    .blog {
        &__img {
            display: none;
        }
        &__wrapper {
            justify-content: center;
            column-gap: 0px;
        }
        &__description {
            max-width: 550px;
        }
        &__form-wrapper {
            max-width: 550px;
        }
    }
}

@media (max-width: 576px) {
    .blog {
        display: none;
    }
}