@media (max-width: 1200px) {
    .illustration {
        &__wrapper {
            align-items: center;
        }
        &__img {
            img {
                width: 95%;
            }
        }
    }
}

@media (max-width: 768px) {
    #design, #teamwork {
        padding: 70px 0px;
    }
}