@media (max-width: 1200px) {
    .illustration {
        &__wrapper {
            align-items: center;
        }
        &__img {
            img {
                width: 95%;
            }
        }
    }
}

@media (max-width: 768px) {
    #design, #teamwork {
        padding: 70px 0px;
    }
}

@media (max-width: 576px) {
    .illustration {
        &__wrapper {
            display: block;
        }
        &__info {
            button {
                margin: 0 auto;
            }
        }
        .teamwork__img {
            margin-top: 60px;
        }
    }
    #design, #teamwork {
        padding: 60px 0px;
    }
}