@media (max-width: 1200px) {
    .partners {
        &__wrapper {
            justify-content: space-around;
        }
    }
}

@media (max-width: 768px) {
    .partners {
        padding: 60px 0px 47px 0px;
        &__wrapper {
            justify-content: center;
        }
    }
}

@media (max-width: 576px) {
    .partners {
        &__wrapper {
            column-gap: 55px;
            row-gap: 35px;
        }
    }
}